Crosshair {
    align-content: center;
    align-items: baseline;
    position: absolute;
    left: 47.5%;
    top: 45%;
    background-color: rgba(0, 0, 0, 0);

    width: 113px;
    height: 120px;
    overflow: hidden;
    letter-spacing: 10px;
    font-family: HalfLife2;
    color: yellow;
    font-size: 108px;

    .crosshair {
        top: -38px;
        font-family: HalfLife2;
        font-size: 52px;
    }

    .crosshairBracket {
        top: -20px;
        font-family: HalfLife2;
    }
}
