Health {
	position: absolute;
	background-color: rgba( 0, 0, 0, 0.6 );
	left: 76px;
	bottom: 44px;
	color: yellow;
	height: 80px;
	padding: 0 25px;
	padding-right: 38px;
	width: 240px;
	display: flex;
	border-radius: 5px;

	.text {
		transition: all 0.5s ease-in;
		font-family: "Verdana";
		text-align: right;
		align-items: center;
		top: 16px;
		right: 5px;
		font-size: 16px;
		font-weight: 1000;
	}

	.value {
		transition: all 0.5s ease-in;
		font-family: HalfLife2;
		font-weight: 100;
		top: 0px;
		right: -20px;
		font-size: 64px;
		text-shadow: 0 0 0px rgba(255, 220, 0, 0.0);
	}

	.danger {
		font-family: halflife2;
		font-weight: 100;
		top: 0px;
		right: -20px;
		font-size: 64px;
		color: red;
	}

	.dangerMini {
		font-family: "Verdana";
		text-align: right;
		align-items: center;
		top: 16px;
		right: 5px;
		font-size: 16px;
		font-weight: 1000;
		color: rgba(180, 0, 0, 0.7);
	}

	.glow {
		font-family: halflife2;
		font-weight: 100;
		top: 0px;
		right: -20px;
		font-size: 64px;
		text-shadow: 0 0 4px rgba(255, 220, 0, 0.9);
	}
}
