@using Sandbox;
@using Sandbox.UI;
@using XGUI;
@attribute [StyleSheet("/ui/MainMenu/GameMenu/XGUI/DefaultStyles/OliveGreen.scss")]
@inherits Window

<root title="Options" hasminimise="false" hasmaximise="false">
        <tabcontrol>
            <tab tabName="general" slot="tab" tabtext="General">
				<div style="width:300px;height:200px;">
					Something will go here someday.
				</div>
			</tab>
		</tabcontrol>
</root>

@code
{

}

