@using System;
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@using Sandbox.UI.GameMenu;
@using XGUI;
@attribute [StyleSheet("/ui/MainMenu/GameMenu/XGUI/DefaultStyles/OliveGreen.scss")]
@inherits Window

<root title="Options" hasminimise="false" hasmaximise="false">
        <tabcontrol>
			<tab tabName="general" slot="tab" tabtext="General">
				<div style="width:600px;height:400px;">
					Something Will Go Here eventually.
				</div>
			</tab>
            <tab tabName="input" slot="tab" tabtext="Input">
				<div style="width:600px;height:400px;">
					Something Will Go Here eventually.
				</div>
			</tab>
			<tab tabName="input" slot="tab" tabtext="Player">
				<div style="width:600px;height:400px;">
					Something Will Go Here eventually.
				</div>
			</tab>
		</tabcontrol>
</root>

@code
{

}

