@using Sandbox;
@using Sandbox.UI;
@using XGUI;
@attribute [StyleSheet("ui/MainMenu/GameMenu/XGUI/DefaultStyles/OliveGreen.scss")]
@inherits Window

<root title="Hello" hasminimise="true" hasmaximise="true">
	Hello, I am a window!
	<button>okay</button>
        <tabcontrol>
            <tab tabName="general" slot="tab" tabtext="General">
				<div style="width:300px;height:200px;">
					<sliderscaleentry min=1 max=10 mintext="1.00" maxtext="10.0" step=1>

					</sliderscaleentry>
					<sliderscale min=1 max=10 mintext="1.00" maxtext="10.0" step=1>

					</sliderscale>
					<slider min=1 max=10 mintext="1.00" maxtext="10.0" step=1>

					</slider>
					<check>checkbox</check>
					<button >HI!!!</button>
					<textentry>

					</textentry> 
					<radiobuttons>

					</radiobuttons> 
				</div>
			</tab>
            <tab tabName="video" slot="tab" tabtext="Video">
				<div style="width:300px;height:200px;">

				</div>
			</tab>
            <tab tabName="audio" slot="tab" tabtext="Audio">
				<div style="width:300px;height:200px;">

				</div>
			</tab>
		</tabcontrol>
</root>

