@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@namespace Sandbox.UI.GameMenu

<root style="flex-direction: column;">

    <div class="navbar">
        <div class="left">
            <a class="button" href="/"> Home </a>
            <span class="block">&gt;</span>
            <span class="block">About</span>
        </div>
        <div class="right">
        </div>
    </div>

    <WebPanel style="width: 100%; height: 800px;" @ref="WebPanel"></WebPanel>

</root>


@code
{
    public string Url
    {
        get { return WebPanel?.Surface?.Url ?? ""; }
        set { if ( WebPanel?.Surface?.Url != null ) WebPanel.Surface.Url = value; }
    }

    public WebPanel WebPanel { get; set; }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if ( firstTime )
        {
            WebPanel.Surface.Url = "https://www.gmodn.com/hldm-info";
        }
    }

    protected override int BuildHash()
    {
        // this will force a rebuild every time the date time string changes
        return HashCode.Combine( DateTime.Now.ToString());
    }
}
