@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@namespace Sandbox.UI.GameMenu

<root style="flex-direction: column;">

    <div class="navbar">
        <div class="left">
            <a class="button" href="/"> Home </a>
            <span class="block">&gt;</span>
            <span class="block">About</span>
        </div>
        <div class="right">
        </div>
    </div>

    <div class="aboutcontent">
        <a class="todo">TODO: Make proper about page.</a>
    </div>

</root>


@code
{

}
