@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;
@namespace Sandbox.UI.GameMenu
@attribute [StyleSheet]

<root style="flex-direction: column;">

    <div class="game-title">ass</div>

    <div class="controls">

        @if ( Game.InGame )
        {
            <a class="button" onclick=@Game.Menu.HideMenu>RESUME GAME</a>
            <a class="button" onclick=@Game.Menu.CancelLoading>DISCONNECT</a>
        }
        else;
        <span style="height: 20px;"></span>
        <a class="button" onclick=@FindGame>FIND SERVERS</a>
        <a class="button" onclick=@CreateGame>CREATE SERVER</a>
        <a class="button" onclick=@Options>OPTIONS</a>
        <a class="button" onclick=@About>ABOUT</a>
        <a class="button" @onclick=@QuitDialouge>QUIT</a>

    </div>

    
    <div class="ptnotif">THIS GAMEMODE IS A WORK IN PROGRESS</div>
</root>

@code
{
    async Task CreateNewLobby()
    {
        // we will navigate to lobby when it's ready
    }

    async Task About()
    {
        //create xgui panel
        AddChild<About>();
    }

    async Task FindGame()
    {
        //create xgui panel
        AddChild<FindServer>();
    }

    async Task CreateGame()
    {
        //create xgui panel
        AddChild<CreateServer>();
    }

    async Task Options()
    {
        //create xgui panel
        AddChild<Options>();
    }

    async Task QuitDialouge()
    {
        //create xgui panel
        AddChild<QuitDialouge>();
    }

    void LeaveGame()
    {
        Game.Menu.LeaveServer("Leaving");
    }

    public override void Tick()
    {
        base.Tick();
    }
}
