
.gamemainmenu frontpage {
	top: 150px;
	margin: 100px 50px;
	gap: 50px;

	.game-title {
		font-family: Poppins;
		font-weight: 700;
		font-size: 70px;
	}

	.controls {
		flex-direction: column;
		//align-items: flex-start;
	}
}
