.Sidebar {

    > .tabs {
        flex-direction: column;

        > .button {

            &.active {
            }

            &:hover {
            }
        }
    }


    > .sheets {
        z-index: -1;
        flex-direction: column;

        tab {

            div {
                flex-grow: 0;
                flex-direction: column;
            }
        }

        > :not( .active ) {
            display: none;
        }
    }
}
