Crosshair2 {
	.crosshairFull {
		position: relative;
		align-content: baseline;
		align-self: baseline;
		top: -10px;
	}

	align-content: center;
	align-items: baseline;
	align-self: center;
	vertical-align: bottom;
	bottom: 0px;
	background-color: #0094ff;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
	overflow: hidden;
	left: 8px;
	letter-spacing: 10px;
	font-family: HalfLife2;
	color: rgba(255, 220, 0, 0.7);
	font-size: 108px;

	.point {
		top: 30px;
		font-family: HalfLife2;
		font-size: 32px;
	}
}
