
pickupfeed
{
	position: absolute;
	right: 100px;
	bottom: 250px;
	font-size: 32px;
	flex-direction: column;
	text-align: right;

	label
	{
		color: #ff0;
		mix-blend-mode: lighten;
		text-shadow: 0px 0px 20px #f70d;
		position: relative;
		left: 0;
		transition: all 0.2s ease-out;
		height: 50px;
		opacity: 1;

		//
		// Pseudo class set for the first time of its life
		//
		&:intro
		{
			height: 0px;
			opacity: 0;
		}
		//
		// Pseudo class set for the last frame of its life
		// (and keeps the panel alive until transition ends)
		//
		&:outro
		{
			color: #fa00;
			text-shadow: 0px 0px 20px #f703;
			transition: all 7.0s ease-in;
		}
	}

}

.wepIcon {
	width: 188px;
	height: 128px;
	flex-direction: column;
	position: relative;
	transition: all 0.2s ease-out;
	opacity: 1;
	background-image-tint: rgb(255, 156, 0);
	//
	// Pseudo class set for the first time of its life
	//
	&:intro {
		height: 0px;
		opacity: 0;
	}
	//
	// Pseudo class set for the last frame of its life
	// (and keeps the panel alive until transition ends)
	//
	&:outro {
		color: #fa00;
		text-shadow: 0px 0px 20px #f703;
		transition: all 3.0s ease-in;
		opacity: 0;
	}
}

.hl2_crowbar .icon {
	background-image: url( /ui/weapons/hl2_crowbar.png );
}

.hl2_stunstick .icon {
	background-image: url( /ui/weapons/hl2_stunstick.png );
}

.hl2_gravgun .icon, .OLD_gravgun .icon {
	background-image: url( /ui/weapons/hl2_gravgun.png );
}

.hl2_usp .icon {
	background-image: url( /ui/weapons/hl2_usp.png );
}

.hl2_357 .icon {
	background-image: url( /ui/weapons/hl2_357.png );
}

.SMG .icon {
	background-image: url( /ui/weapons/hl2_smg1.png );
}

.AR2 .icon {
	background-image: url( /ui/weapons/hl2_ar2.png );
}

.hl2_ar2ball .icon {
	background-image: url( /ui/weapons/hl2_ar2ball.png );
}

.hl2_spas12 .icon {
	background-image: url( /ui/weapons/hl2_spas12.png );
}

.hl2_crossbow .icon, .hl2_crossbowbolt .icon {
	background-image: url( /ui/weapons/hl2_crossbow.png );
}

.hl2_grenade .icon {
	background-image: url( /ui/weapons/hl2_grenade.png );
}

.hl2_slam .icon {
	background-image: url( /ui/weapons/hl2_slam.png );
}

.hl2_rpg .icon {
	background-image: url( /ui/weapons/hl2_rpg.png );
}

.devgun .icon {
	background-image: url( /ui/weapons/devgun.png );
}
