
@import "_crosshair.scss";
@import "_damageindicator.scss";
@import "_hitindicator.scss";
@import "_inventory.scss";
@import "_killfeed.scss";
@import "_pickupfeed.scss";
@import "_scoreboard.scss";

rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;
	transform-origin: 50% 50%;

	&.spawnmenuopen
	{
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}

	&.devcamera
	{
		display: none;
	}
}

ammo {
	position: absolute;
	right: 0px;
	bottom: 0px;

	Panel {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 7px;
	}

	Label {
		position: absolute;
	}

	.Ammo {
		right: 207px;
		bottom: 27px;
		width: 287px;
		height: 81px;
	}

	.AmmoText {
		left: 17px;
		bottom: 15px;
		font-family: Verdana;
		font-size: 16.5px;
		font-weight: 700;
		color: yellow;
	}

	.Counter {
		left: 90px;
		bottom: 5px;
		font-family: HalfLife2;
		font-size: 61px;
		color: yellow;
	}

	.Reserve {
		left: 220px;
		bottom: 8px;
		font-family: HalfLife2;
		font-size: 31px;
		font-weight: 700;
		color: yellow;
	}

	.Alt {
		right: 22px;
		bottom: 27px;
		width: 162px;
		height: 81px;

		.AmmoText {
			left: 18px;
			bottom: 11px;
		}

		.Counter {
			left: 68px;
		}
	}

	.Empty {
		color: "#FF0000";
	}
}


.dm_pistol .icon
{
	background-image: url( /ui/weapons/dm_pistol.png );
}

.dm_shotgun .icon
{
	background-image: url( /ui/weapons/dm_shotgun.png );
}

.dm_smg .icon
{
	background-image: url( /ui/weapons/dm_smg.png );
}

.dm_crossbow .icon, .crossbow_bolt .icon
{
	background-image: url( /ui/weapons/dm_crossbow.png );
}