NameTag {
	justify-content: center;
	align-items: center;
	mix-blend-mode: lighten;

	.title {
		font-family: Verdana;
		font-size: 30px;
		font-weight: 700;
		white-space: nowrap;
		color: yellow;
		mix-blend-mode: lighten;
		text-shadow: 0px 0px 5px #f70a;
	}

	.avatar {
		width: 30px;
		height: 30px;
		margin-right: 15px;
		border-radius: 100px;
		background-size: cover;
	}
}
