hldmchatbox
{
	position: absolute;
	bottom: 200px;
	left: 100px;
	z-index: 100;
	flex-direction: column;
	width: 500px;
	font-family: DIN;
	font-size: 13px;

	textentry
	{
		background-color: black;
		opacity: 0;
		color: white;
		padding: 15px;
		background-color: rgba( black, 0.5 );
		font-size: 14px;
		flex-shrink: 0;
		flex-grow: 0;
		width: 100%;
	}

	.chat_canvas
	{
		flex-direction: column;
		align-items: flex-start;
	}

	&.open
	{
		textentry
		{
			opacity: 1;
			backdrop-filter: blur( 10px );
		}
	}
}

hldmchatentry {
	margin-bottom: 5px;
	color: white;
	transition: all 0.1s ease-out;
	opacity: 1;
	max-height: 200px;
	flex-shrink: 0;
	flex-grow: 0;
	padding: 12px;
	padding-left: 45px;
	min-height: 47px;
	max-width: 100%;
	transform: scale( 1 );

	&:outro {
		opacity: 0;
		transition: all 2s ease-out;
	}

	.name {
		padding-right: 20px;
		font-weight: 800;
		font-size: 20px;
		color: rgb(255, 192, 0);
		flex-shrink: 0;
	}

	.message {
		color: rgb(255, 192, 0);
		font-size: 20px;
		font-weight: 500;
		flex-grow: 1;
	}

	&.noname .name {
		display: none;
	}
}