@using System
@using Sandbox;
@using Sandbox.MenuSystem;
@using Sandbox.UI;

@attribute [StyleSheet]
@inherits Sandbox.UI.GameMenu.DefaultGameMenu
@namespace Sandbox.UI.GameMenu

<root class="gamemainmenu">

    <div class="navigator-canvas" slot="navigator-canvas"></div>

</root>
@code{

    // eventually throw in the source UI sounds

    public override void Tick()
	{
		base.Tick();
		UpdateMusic();
	}

	SoundHandle MenuMusic;

	void UpdateMusic()
	{
		if ( Game.InGame )
		{
			MenuMusic.Stop( true );
			return;
		}

		if ( !MenuMusic.IsPlaying )
		{
			MenuMusic = Audio.Play( "sounds/menu/MENULOOP.sound" );
		}
	}

}